:root{
    --main-color: #F6AF44;
    --bg-main-color: #FFF;
    --bg-alternative-color: #EBEBEB;
    --acent-color: #FF0000;
    --text-color: #000;
    --text-hover-color: #00A2FF;
    --hover-color: #DDD;
    --icon-color: #C1C1C1;
    --icon-hover-color: #818181;
}
