@import 'main-block/main-categories';
@import 'main-block/main-carousel';
@import 'main-block/main-videos';

main{
    position: relative;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
}
//@media (max-width: 1200px) {
//    main{
//        margin-left: 66px;
//    }
//}
