:root{
  --animate-duration: 0.4s;

  --main-color: #9047FF;
  --bg-main-color: #323232;
  --bg-alternative-color: #232323;
  --acent-color: #FF0000;
  --text-color: #dedede;
  --text-hover-color: #9047FF;
  --hover-color: #272727;
  --icon-color: #818181;
  --icon-hover-color: #C1C1C1;
}
