:root{
    --animate-duration: 0.4s;

    --main-color: #772CE8;
    --bg-main-color: #0E0E10;
    --bg-alternative-color: #18181B;
    --acent-color: #FF0000;
    --text-color: #EFEFF1;
    --text-hover-color: #6b1ce3;
    --hover-color: #1F1F23;
    --icon-color: #2F2F36;
    --icon-hover-color: #3b3b41;
}
