@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,500;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.nav__wrapper {
  display: flex;
  flex-direction: row;
  width: -moz-max-content;
  width: max-content;
}
.nav__wrapper:nth-child(2) {
  width: 50%;
}
.nav__logo {
  color: var(--main-color);
  font-size: 35px;
  cursor: pointer;
}
.nav__logo:hover {
  color: var(--main-color);
}
.nav__input {
  padding: 10px;
  height: 30px;
  width: 100%;
  border: 1px solid var(--icon-hover-color);
  border-radius: 5px 0 0 5px;
}
.nav__input:focus {
  outline: none;
  border: 2px solid var(--text-hover-color);
}
.nav__search {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 1px solid var(--icon-hover-color);
  border-width: 1px 1px 1px 0;
  background: var(--hover-color);
  border-radius: 0 5px 5px 0;
}
.nav__search:hover {
  background: var(--icon-color);
}
.nav__mic, .nav__notification {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 25px;
  margin-left: 10px;
  color: var(--icon-color);
}
.nav__mic:hover, .nav__notification:hover {
  color: var(--icon-hover-color);
}
.nav__dropdown {
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  display: inline-block;
  height: 46px;
}
.nav__dropdown-btn {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: none;
  background: var(--main-color);
  color: var(--text-color);
  transition: all 0.25s;
  transform: translateY(5px);
}
.nav__dropdown:hover .nav__dropdown-btn {
  background: var(--hover-color);
}
.nav__dropdown:hover .nav__dropdown-content {
  display: block;
}
.nav__dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid var(--icon-color);
  background-color: var(--bg-main-color);
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.nav__dropdown-content a {
  color: var(--text-color);
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid var(--icon-color);
}
.nav__dropdown-content a:last-child {
  color: var(--acent-color);
  border-bottom: none;
}
.nav__dropdown-content a:hover {
  background-color: var(--hover-color);
}

.aside {
  position: fixed;
  background: var(--bg-alternative-color);
  height: 100%;
}
.aside__wrapper {
  display: grid;
  grid-template-columns: 240px;
  grid-template-rows: 1fr 1px 150px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: calc(100% - 66px);
}
.aside__divider {
  border: 1px solid var(--bg-main-color);
}
.aside__streamers {
  height: 100%;
  overflow: auto;
}
.aside__streamers_streamer {
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.aside__streamers_streamer:hover {
  background: var(--hover-color);
}
.aside__streamers_streamer-icon {
  padding: 5px;
  margin-right: 10px;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  background: var(--bg-main-color);
}
.aside__streamers_streamer-icon img {
  width: 100%;
  height: 100%;
}
.aside__streamers_streamer-wrapper {
  display: flex;
  width: calc(100% - 36px);
  justify-content: space-between;
  align-items: center;
}
.aside__streamers_streamer-nickname {
  font-size: 15px;
  font-weight: 500;
}
.aside__streamers_streamer-nickname:hover {
  color: var(--text-hover-color);
}
.aside__streamers_streamer-viewers {
  font-size: 15px;
  font-weight: 400;
  margin-left: 6px;
}
.aside__streamers_streamer-indicator {
  margin-left: auto;
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: var(--acent-color);
}
.aside__streamers_streamer-indicator:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--acent-color);
  animation: live 2s ease-in-out infinite;
}
.aside__info-content {
  padding: 15px;
  width: 100%;
  height: 100%;
  background: var(--icon-color);
  text-align: center;
}
.aside__info-content_title {
  font-size: 20px;
  font-weight: 400;
}
.aside__info-content_socials {
  font-size: 25px;
  margin-top: 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
}
.aside__info-content_socials a:hover {
  color: var(--text-hover-color);
}

@keyframes live {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(3.5, 3.5);
    background-color: rgba(255, 0, 0, 0);
  }
}
main {
  margin-left: 240px;
  height: 2000px;
  background: red;
}

:root {
  --main-color: #F6AF44;
  --bg-main-color: #FFF;
  --bg-alternative-color: #EBEBEB;
  --acent-color: #FF0000;
  --text-color: #000;
  --text-hover-color: #00A2FF;
  --hover-color: #DDD;
  --icon-color: #C1C1C1;
  --icon-hover-color: #818181;
}

* {
  font-family: Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-main-color);
}
body ::-moz-selection {
  background: var(--main-color);
  color: #fff;
}
body ::selection, body ::-moz-selection, body ::-webkit-selection {
  background: var(--main-color);
  color: #fff;
}

ul,
li,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
a:hover {
  -webkit-text-decoration: var(--text-hover-color);
          text-decoration: var(--text-hover-color);
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-top: 66px;
  display: flex;
}

.container {
  padding: 15px;
}
.container__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-main-color);
  box-shadow: 0 0 5px var(--text-color);
}/*# sourceMappingURL=styles.css.map */