@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,500;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: var(--bg-main-color);
  box-shadow: 0 0 5px var(--text-color);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__wrapper {
  display: flex;
  flex-direction: row;
  width: -moz-max-content;
  width: max-content;
}
.nav__wrapper:nth-child(2) {
  width: 50%;
}
.nav__logo, .nav__title {
  color: var(--main-color);
  font-size: 35px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
}
.nav__logo:hover {
  color: var(--main-color);
}
.nav__input {
  padding: 10px;
  height: 30px;
  width: 100%;
  border: 1px solid var(--icon-hover-color);
  border-radius: 5px 0 0 5px;
}
.nav__input:focus {
  outline: none;
  border: 2px solid var(--text-hover-color);
}
.nav__search {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 1px solid var(--icon-hover-color);
  border-width: 1px 1px 1px 0;
  background: var(--hover-color);
  border-radius: 0 5px 5px 0;
}
.nav__search:hover {
  background: var(--icon-color);
}
.nav__mic, .nav__notification {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 25px;
  margin-left: 10px;
  color: var(--icon-color);
}
.nav__mic:hover, .nav__notification:hover {
  color: var(--icon-hover-color);
}
.nav__dropdown {
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  display: inline-block;
  height: 46px;
}
.nav__dropdown-btn {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: none;
  background: var(--main-color);
  color: var(--text-color);
  transition: all 0.25s;
  transform: translateY(5px);
}
.nav__dropdown:hover .nav__dropdown-btn {
  background: var(--hover-color);
}
.nav__dropdown:hover .nav__dropdown-content {
  display: block;
}
.nav__dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid var(--icon-color);
  background-color: var(--bg-main-color);
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.nav__dropdown-content a {
  color: var(--text-color);
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid var(--icon-color);
}
.nav__dropdown-content a:last-child {
  color: var(--acent-color);
  border-bottom: none;
}
.nav__dropdown-content a:hover {
  background-color: var(--hover-color);
}

.aside {
  position: fixed;
  background: var(--bg-alternative-color);
  height: 100%;
}
.aside__wrapper {
  display: grid;
  grid-template-columns: 240px;
  grid-template-rows: 1fr 1px 150px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: calc(100% - 76px);
}
.aside__divider {
  border: 1px solid var(--bg-main-color);
}
.aside__streamers {
  height: 100%;
  overflow: auto;
}
.aside__streamer {
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.aside__streamer:hover {
  background: var(--hover-color);
}
.aside__streamer-icon {
  padding: 5px;
  margin-right: 10px;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  background: var(--bg-main-color);
}
.aside__streamer-icon img {
  width: 100%;
  height: 100%;
}
.aside__streamer-wrapper {
  display: flex;
  width: calc(100% - 36px);
  justify-content: space-between;
  align-items: center;
}
.aside__streamer-nickname {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 500;
}
.aside__streamer-nickname:hover {
  color: var(--text-hover-color);
}
.aside__streamer-viewers {
  font-size: 15px;
  font-weight: 400;
  margin-left: 6px;
}
.aside__streamer-indicator {
  margin-left: auto;
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: var(--acent-color);
}
.aside__streamer-indicator:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--acent-color);
  animation: live 2s ease-in-out infinite;
}
.aside__info-content {
  padding: 15px;
  width: 100%;
  height: 100%;
  background: var(--icon-color);
  text-align: center;
}
.aside__info-content-title {
  font-size: 20px;
  font-weight: 400;
}
.aside__info-content-socials {
  font-size: 25px;
  margin-top: 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
}
.aside__info-content-socials a:hover {
  color: var(--text-hover-color);
}

@keyframes live {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(3.5, 3.5);
    background-color: rgba(255, 0, 0, 0);
  }
}
.categories__list {
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  gap: 15px;
}
.categories__list-item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  height: 36px;
  border-radius: 100px;
  border: 1px solid var(--icon-hover-color);
  background: var(--bg-alternative-color);
}
.categories__list-item:first-child {
  background: var(--main-color);
  border: 1px solid transparent;
  color: #fff;
}
.categories__list-item:first-child:hover {
  color: var(--text-color);
  border: 1px solid var(--icon-hover-color);
}
.categories__list-item:hover {
  background: var(--hover-color);
}

.carousel {
  margin-top: 50px;
  width: 520px;
  height: 280px;
  transform-style: preserve-3d;
  margin-inline: auto;
}
.carousel__cards {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel-card {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
  z-index: 1;
  border-radius: 0 5px 5px 0;
  box-shadow: 4px 10px 20px -8px var(--text-color);
}
.carousel-card__img {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel-card__img:hover > .video-hover-mask {
  display: block;
}
.carousel-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel-card__wrapper {
  padding: 15px 10px;
  max-width: 170px;
  height: 100%;
  background: var(--bg-alternative-color);
  border-radius: 0 5px 5px 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-auto-rows: min-content;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 20px;
}
.carousel-card__streamer-icon {
  display: inline-block;
  padding: 5px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: var(--bg-main-color);
}
.carousel-card__streamer-icon img {
  width: 100%;
  height: 100%;
}
.carousel-card__streamer-title, .carousel-card__streamer-nickname {
  max-width: 100px;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}
.carousel-card__streamer-title:hover, .carousel-card__streamer-nickname:hover {
  color: var(--text-hover-color);
}
.carousel-card__streamer-nickname {
  margin-top: 5px;
  font-size: 12px;
  color: var(--icon-hover-color);
}
.carousel-card__streamer-nickname:hover {
  color: var(--text-hover-color);
}
.carousel-card__streamer-descr {
  display: block;
  font-size: 12px;
  font-weight: 400;
  grid-column: 1/span 2;
  color: var(--icon-hover-color);
}

input[type=radio] {
  display: none;
}

#item-1:checked ~ .carousel__cards #card-5,
#item-2:checked ~ .carousel__cards #card-1,
#item-3:checked ~ .carousel__cards #card-2,
#item-4:checked ~ .carousel__cards #card-3,
#item-5:checked ~ .carousel__cards #card-4 {
  transform: translatex(-15%) scale(0.9);
  z-index: 2;
}

#item-1:checked ~ .carousel__cards #card-4,
#item-2:checked ~ .carousel__cards #card-5,
#item-3:checked ~ .carousel__cards #card-1,
#item-4:checked ~ .carousel__cards #card-2,
#item-5:checked ~ .carousel__cards #card-3 {
  transform: translatex(-30%) scale(0.8);
  z-index: 1;
}

#item-1:checked ~ .carousel__cards #card-3,
#item-2:checked ~ .carousel__cards #card-4,
#item-3:checked ~ .carousel__cards #card-5,
#item-4:checked ~ .carousel__cards #card-1,
#item-5:checked ~ .carousel__cards #card-2 {
  transform: translatex(30%) scale(0.8);
  z-index: 1;
}

#item-1:checked ~ .carousel__cards #card-2,
#item-2:checked ~ .carousel__cards #card-3,
#item-3:checked ~ .carousel__cards #card-4,
#item-4:checked ~ .carousel__cards #card-5,
#item-5:checked ~ .carousel__cards #card-1 {
  transform: translatex(15%) scale(0.9);
  z-index: 2;
}

#item-1:checked ~ .carousel__cards #card-1,
#item-2:checked ~ .carousel__cards #card-2,
#item-3:checked ~ .carousel__cards #card-3,
#item-4:checked ~ .carousel__cards #card-4,
#item-5:checked ~ .carousel__cards #card-5 {
  transform: translatex(0) scale(1);
  z-index: 3;
}

.grid-container {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
}

.video {
  max-width: 380px;
}
.video__img {
  cursor: pointer;
  position: relative;
  height: 210px;
  width: 100%;
}
.video__img:hover > .video-hover-mask {
  display: block;
}
.video__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.video__info {
  padding: 10px 10px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video__streamer-icon {
  cursor: pointer;
  margin-right: 15px;
  padding: 5px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: var(--bg-main-color);
}
.video__streamer-icon img {
  width: 100%;
  height: 100%;
}
.video__streamer-wrapper {
  margin-right: auto;
}
.video__streamer-title, .video__streamer-nickname {
  cursor: pointer;
  max-width: 300px;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}
.video__streamer-title:hover, .video__streamer-nickname:hover {
  color: var(--text-hover-color);
}
.video__streamer-nickname {
  font-size: 12px;
  color: var(--icon-hover-color);
}
.video__streamer-menu {
  cursor: pointer;
  margin-bottom: auto;
  font-size: 20px;
}

main {
  position: relative;
  margin-left: 240px;
  width: 100%;
  overflow: hidden;
}

footer {
  position: sticky;
  bottom: 0;
  text-align: center;
}

.footer-icon,
.footer__text {
  margin: 30px 0 20px 0;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
}

:root {
  --animate-duration: 0.4s;
  --main-color: #F6AF44;
  --bg-main-color: #FFF;
  --bg-alternative-color: #EBEBEB;
  --acent-color: #FF0000;
  --text-color: #000;
  --text-hover-color: #00A2FF;
  --hover-color: #DDD;
  --icon-color: #C1C1C1;
  --icon-hover-color: #818181;
}

* {
  font-family: Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-main-color);
}
body ::-moz-selection {
  background: var(--main-color);
  color: #fff;
}
body ::selection, body ::-moz-selection, body ::-webkit-selection {
  background: var(--main-color);
  color: #fff;
}

ul,
li,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
a:hover {
  -webkit-text-decoration: var(--text-hover-color);
          text-decoration: var(--text-hover-color);
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-top: 76px;
  display: flex;
}

.container {
  padding: 15px;
  width: 100%;
}

.video-hover-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  display: none;
}
.video-hover-mask i {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  font-size: 30px;
  color: #fff;
}

.live-indicator {
  position: absolute;
  width: 40px;
  height: 22px;
  border-radius: 5px;
  background: var(--acent-color);
  margin: 5px;
  z-index: 3;
}
.live-indicator::before {
  content: "LIVE";
  position: absolute;
  top: 4px;
  left: 7.5px;
  font-size: 12px;
  color: #fff;
}

.timeline-counter {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 40px;
  height: 22px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.45);
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  margin: 5px;
  padding: 5px 7px;
  z-index: 3;
}

.viewers-counter {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 40px;
  height: 22px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.45);
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  margin: 5px;
  padding: 5px 7px;
  z-index: 3;
}/*# sourceMappingURL=styles.css.map */