@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,900;1,500;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import 'components/header';
@import 'components/aside';
@import 'components/main';
@import 'components/footer';
@import 'components/mixins';

@import 'components/variables';

* {
    font-family: Ubuntu, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--bg-main-color);
    & ::selection,
    & ::-moz-selection {
      background: var(--main-color);
      color: #fff;
    }
}
ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: var(--text-hover-color);
        color: inherit;
    }
}
p {
    margin: 0;
    padding: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 76px 0 0 240px;
    width: calc(100% - 240px);
    position: relative;
    &:last-child {
      justify-content: flex-end;
    }
}
.container{
    padding: 15px;
    width: 100%;
}
.video-hover-mask{
    @include videoHoverMask;
    display: none;
}
.live-indicator{
    @include liveIndicator;
}
.timeline-counter{
    @include timelineCouner;
}
.viewers-counter{
    @include viewersCounter;
}

@media (max-width: 1200px) {
    .wrapper{
        margin-left: 66px;
        width: calc(100% - 66px);
    }
}
